@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600&display=swap");

html {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

/* Accent colors for UI*/
$color-primary: #6556c9;
$color-primary-soft: #9c94cc;
$color-secondary: #a7ffcd;
$color-secondary-soft: rgb(233, 255, 233);
$color-notification: #d32954;

/* Panel colors for UI*/
$color-background-light: #ebebeb;
$color-background-lightest: #fefefe;
$color-background-dark: #222;
$color-background-darkest: #171717;
$color-background-card-light: #fff;
$color-background-card-dark: #353535;

/* Text colors for UI*/
$color-text-dark: #000000;
$color-text-light: #fefefe;
$color-text-grey: #aaa;
