@import "../../globalstyle.scss";

aside {
  @include themify($themes) {
    flex: 2;
    position: sticky;
    top: 80px;
    height: calc(120vh - 100px);
    overflow: scroll;
    background-color: themed("bg");
    color: themed("textColor");
    padding-right: $padding-page-width;
    padding-left: 20px;

    &::-webkit-scrollbar {
      display: none;
    }

    a {
      color: themed("textColor");
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 16px;
      padding-bottom: 9px;
    }

    .asidecontainer {
      padding: 20px;
    }

    .profilestats {
      padding-top: 50px;

      .statsContainer {
        display: flex;
        flex-direction: column;
        line-height: 1.2rem;

        .user {
          display: flex;
          gap: 12px;

          .icon {
            img {
              width: 40px;
              height: 40px;
              border-radius: 50%;
              object-fit: cover;
              box-shadow: 0px 0px 1px 0px themed("border");
            }
          }
          .details {
            padding-bottom: 20px;

            .name {
              color: themed("textColor");
            }
            .handle {
              color: themed("textColorSoft");
              font-size: 0.8rem;
            }
          }
        }
        .stats {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          color: themed("textColor");
          font-size: 0.85rem;
          text-align: left;
        }
      }
    }
  }
}
