@import "../../globalstyle.scss";

.event {
  @include themify($themes) {
    display: flex;
    align-items: center;
    gap: 20px;

    .name {
      padding-bottom: 10px;
      color: themed("textColor");
      font-weight: 600;
    }
    .location {
      color: themed("textColorSemiSoft");
      font-size: 0.9rem;
      display: flex;
      align-items: center;
      gap: 5px;

      svg {
        width: 0.9rem;
        height: 0.9rem;
        color: themed("textColorSemiSoft");
      }
    }
    time.icon {
      font-size: 1rem;
      display: block;
      position: relative;
      min-width: 70px;
      min-height: 70px;
      max-width: 70px;
      max-height: 70px;
      background-color: #fff;
      border-radius: 0.5em;
      overflow: hidden;
    }
    time.icon * {
      display: block;
      width: 100%;
      font-weight: 600;
      text-align: center;
    }
    time.icon div {
      position: absolute;
      top: 0;
      font-size: 0.65rem;
      padding: 0.55em 0;
      color: #fff;
      background-color: $color-primary;
    }
    time.icon span {
      font-size: 2em;
      letter-spacing: -0.05em;
      padding-top: 0.85em;
      color: #2f2f2f;
    }
  }
}
