@import "../../globalstyle.scss";

header {
  @include themify($themes) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 80px;
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color: themed("textColor");
    z-index: 999;

    .headerIcon {
      color: themed("navIcons");
      cursor: pointer;
    }

    svg {
      color: themed("navIcons");
    }

    a {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      padding-top: 1px;
      text-decoration: none;
      color: themed("textColor");
    }

    .left {
      padding-left: $padding-page-width;
      display: flex;
      align-items: center;
      gap: 30px;
      color: themed("navIcons");

      @include tablet {
        padding-left: 0px;
      }

      .logo {
        background: $color-primary;
        border-radius: 50%;
        width: 45px;
        height: 45px;
      }

      img {
        position: relative;
        width: 60%;
        top: 20%;
        left: 11px;
      }

      .search {
        @include mobile {
          display: none;
        }
        @include tablet {
          display: none;
        }

        display: flex;
        align-items: center;
        gap: 10px;
        color: themed("menuItems");

        input {
          border: none;
          width: 200px;
          color: themed("textColor");
          font-size: 1rem;
          height: 25px;
          padding-bottom: 4px;
          background-color: themed("bg");

          &:focus {
            outline: none;
            border-bottom: 1px solid $color-primary-soft;
            margin-top: 1px;
          }
        }
      }
    }

    .right {
      padding-right: $padding-page-width;
      display: flex;
      align-items: center;
      gap: 20px;
      color: themed("navIcons");

      @include tablet {
        padding-right: 0px;
      }

      @include mobile {
        display: none;
      }

      .user {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 400;
        color: themed("textColor");
        border-left: 1px solid $color-icons-light;
        padding-left: 20px;

        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}
