@import "../../../globalstyle.scss";

.postCard {
  @include themify($themes) {
    background-color: themed("bgCard");
    color: themed("textColor");

    .postContainer {
      display: flex;
      flex-direction: column;
    
      .postUser {
                padding-right: 15px;
        padding-top: 7px;
        display: flex;
        align-items: center;
        gap: 10px;

        .timePosted {
          color: themed("textColorSoft");
          font-size: 0.8rem;
          padding-top: 3px;
        }
      }
      .postBody {
       
        .shots {
        
          .collage {
            display: flex;      
          }
        }
        .text {
        }
      }
.postActions {
        display: flex;
        justify-content: flex-end;
        gap: 10px;

        button {
          display: flex;
          align-items: center;
          gap: 6px;
          color: themed("textColor");
          font-size: 0.8rem;
          padding: 10px 10px;
          background-color: rgba(255, 255, 255, 0);
          border: none;
          border-radius: 8px;
          cursor: pointer;

          svg {
            font-size: 1.2rem;
          }

          &:hover {
            background-color: $color-secondary;
            color: $color-text-dark;
          }
        }
      }
      }
    }
  }
}
