@import "../../globalstyle.scss";

.navItem {
  @include themify($themes) {
    font-size: 1rem;
    font-weight: 400;

    a {
      color: themed("textColor");
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 18px;
      padding-bottom: 20px;
    }
  }
}
