@import "../../globalstyle.scss";

nav {
  @include themify($themes) {
    .workshop {
      padding-bottom: 15px;
      font-size: 0.9rem;
      font-weight: 400;

      img {
        width: 32px;
        border-radius: 25%;
        object-fit: cover;
        box-shadow: 0px 0px 1px 0px themed("textColorSemiSoft");
      }
    }
  }
}
